* {
  box-sizing: border-box;
}

.piece {
  display: inline-block;
}
.piece.highlighted {
  outline: 5px ridge deepSkyBlue;
}

.blok {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border: 5px outset;
  border-radius: 3px;
}
.inner-blok {
  width: 40px;
  height: 40px;
  border: 5px inset;
  border-radius: 3px;
}

.blok-spacer {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
}

.green.piece .blok {
  background-color: #209C74;
  border-color: #21A77B;
}
.green.piece .inner-blok {
  border-color: #25B587;
}

.red.piece .blok {
  background-color: #A00808;
  border-color: #C10F20;
}
.red.piece .inner-blok {
  border-color: #C10516;
}

.yellow.piece .blok {
  background-color: #F3D606;
  border-color: #FFE949;
}
.yellow.piece .inner-blok {
  border-color: #FFE94F;
}

.blue.piece .blok {
  background-color: #3131B1;
  border-color: #4040D2;
}
.blue.piece .inner-blok {
  border-color: #4040D2;
}
